:root {
  --white-text: rgba(255, 255, 255, 1);
  --blue: rgba(33, 150, 243, 1);
  --grey-text: rgba(117, 117, 117, 1);
  --grey-light-background: rgba(245, 244, 250, 1);
  --grey-light-op60: rgba(255, 255, 255, 0.6);
  --black-background: rgba(47, 48, 58, 1);
  --grey-background: #f5f4fa;
}

header,
section,
footer {
  border: 1px solid;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

.header {
  background-color: #ffffff;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.list {
  list-style: none;
  font-weight: 500;
}

.logo-header {
  color: #000000;
}

.site-nav .link:hover,
.site-nav .link:focus,
.logo:hover {
  color: var(--blue);
}

.project:hover,
.project:focus {
  color: var(--blue);
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link.current {
  color: var(--blue);
}

.nav-grey {
  color: var(--grey-text);
}

button {
  font-family: inherit;
}

.logo-footer {
  color: #ffffff;
}

.small-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.address {
  color: var(--white-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.kontakts-down {
  color: var(--grey-light-op60);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.down {
  background-color: var(--black-background);
}
