/* Секция Hero  */
.title {
  color: var(--white-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.title-button {
  color: var(--white-text);
  font-weight: 700;
  background-color: var(--blue);
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero {
  background-color: var(--black-background);
}

.mide-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.best {
  color: var(--grey-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.profil {
  color: var(--grey-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}
